/*remove all default styles applied by browser*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    background-color: rgba(54, 25, 25, .5);
}

.booth-capture-button {
    display: block;
    margin: 5px 0;
    width: 200px;
    padding:5px 10px;
    background-color: deeppink;
    color:white;
    text-align:center;
    text-decoration: none;
}

.main {
    overflow: auto;
    padding-bottom: 25px;
    width:70%;
    height:auto;
    margin:auto;
}

.header {
    width:80%;
    height:auto;
    margin:auto;
    color:white;
    font-size:18px;
    border:2px solid yellow;
    text-align:center;
    padding-top:2px;
}


.menubar {
    width: 80%;
    height:50px;
    /*background-color: gray;*/
    color:white;
}

#menu {
    padding:0;
    margin:0;
    line-height:40px;
    float:left;
}

#menu li {
    list-style: none;
    display: inline;
}
#menu a{
    text-decoration: none;
    color:white;
    padding:8px;
    margin:5px;
    font-size: 12px;
    font-family: "Apple Chancery";
}

#menu a:hover {
    color:red;
    font-weight:bolder;
    text-decoration:underline;
}

.content {
    width:80%;
    height:auto;
    margin:auto;
}

#canvas {

    width:200px;
    height:150px;
    border:2px solid black;
    float:left;
    /*opacity:0.7;*/
}

.footer {
    width: 100%;
    font-family: "Apple Chancery";
    font-size-adjust: inherit;
    color: white;
    text-align: center;
    position: relative;
    margin-top: -50px;
    height: 50px;
    clear: both;
}

.box {
    border-radius: 5px;
    padding: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 5px;
}

form {
    float: left;
}

/* The expanding image container */
.container {
    width:100px;
    height:75px;
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

video {
    width:200px;
    height:150px;
}

img {
    width:100px;
    height:75px;
}

input.img {
    width:100px;
    height:75px;
}

h2 {
    color: white;
}

input[type=text], input[type=password], input[type=email] {
    color:black;
    width:100%;
    padding: 6px 10px;
    margin:4px 0;
    display:inline-block;
    border:1px solid black;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color:rgb(195,82,96);
    color: white;
    font-size:12px;
    padding: 7px 10px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 7px 10px;
    background-color:blue;
}

/* Extra styles for the register button */
.registerbtn {
    padding: 7px 10px;
    background-color:rgb(74, 39, 78);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn,.registerbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    color:white;
    font-size:14px;
    padding-top: 10%;
    padding-left: 16%;
    padding-right: 16%;
}

.form_inside {
    color:white;
    font-size:14px;
    padding-top: 10%;
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 16%;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn, .registerbtn
    {
        width: 100%;
    }
}

li {
    list-style: none;
    list-style-type: none;
}
#home {
    color: white;
}